.playground {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr)
}

.guess {
    display: grid;
    grid-template-rows: 150px;
}

.letter {
    grid-row: 1/1;    
    padding: 10px
}

    .letter > div {
        border-style: solid;
        border-width: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
        font-family: sans-serif
    }

.letter--unknown {
    color: var(--font-color);
}

.letter--present {
    color: #ffab00;
}

.letter--correct {
    color: #2e7d32;
}