* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, div {
    height: 100%;
}

.light {
    --navbar-color: #1a237e;
    --background-color: #ffffff;
    --navbar-font-color: #e8eaf6;
    --font-color: #000000;
}

.dark {
    --navbar-color: #263238;
    --background-color: #37474f;
    --navbar-font-color: #eceff1;
    --font-color: #eceff1;
}

.app {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    color: var(--font-color);
    background-color: var(--background-color);
}

/*.menuButton {
    grid-column: 2/3;
    grid-row: 1 / 2;
    color: var(--navbar-font-color);
    background-color: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .menuButton svg {
        cursor: pointer;
        fill: var(--navbar-font-color)
    }
*/
.navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--navbar-font-color);
    background-color: var(--navbar-color);
}

.timer {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}

/*.menu--closed{
    display: none;
}

.menu--open {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background: #2e2e2e;
    opacity: 0.95;
    z-index: 1;

    display: grid;
    grid-template-rows: 150px repeat(6, 45px) 250px;
    grid-template-columns: 300px 1fr 300px;
}

    .menu--open > div {
        display: flex;
        justify-content: center;
        align-content: center;
        color: white;
        font-size: 25px;
        align-items: center;
    }

.menuItem:hover {
    cursor: pointer;
    text-decoration: underline;
}*/