* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.light{

}

.dark{
    --navbar-color: blue;
}

.app {
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    grid-template-columns: 100px 1fr 200px;
}

.menuButton {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.timer {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.menu--closed{
    display: none;
}

.menu--open {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background: #2e2e2e;
    opacity: 0.95;
    z-index: 1;

    display: grid;
    grid-template-rows: 150px repeat(6, 45px) 250px;
    grid-template-columns: 300px 1fr 300px;
}

    .menu--open > div {
        display: flex;
        justify-content: center;
        align-content: center;
        color: white;
        font-size: 25px;
        align-items: center;
    }

.menuItem:hover {
    cursor: pointer;
    text-decoration: underline;
}

.playground {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}