@{
    var data = ViewData.Model;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/components.css">
    <link rel="stylesheet" href="~/css/playground.css">
</head>
<body class="dark">
    <div id="root" data-word="@data.Word" data-level="@data.Level">

    </div>
</body>
</html>
